@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    background: #f8f8f8;
}

.network-main-section{
    margin-top: 32px;
}

.network-section__title{
    color: #6e6e6e;
}

.network-section__title::after{
    font-size: 1.5rem;
    font-weight: 300;
    content: 'Everything by your fingertips!';
}

.filter-container{
    margin: 1rem;
    width: auto;
}


.network-section__filter-container{
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 10px;
    background: rgb(253, 253, 253);
    box-shadow: 2px 2px 20px 2px rgba(0, 0, 0, 0.1);
}


.network-section__filter{
    border-radius: 20px;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.1);
    font-family: inherit;
    width: 100%;
}

.network-section__filter:hover,
.network-section__filter:active{
    background-color: rgb(246, 246, 246);
}

.network-section__filter--disabled-option{
    display: none;
}

.filter-btn-container{
    text-align: center;
}

.filter-btn{
    font-family: inherit;
    background-color: #ebebeb;
    border: 2px solid #dbdbdb;
    border-radius: 10px;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.1);
}

.filter-btn:hover{
    background-color: #ccc;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.1);
}


.employee-section{
    
}
