*{
    margin:0px;
    padding:0px;
    font-family: poppins;
    box-sizing: border-box;
}
#reviews{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:100%;
}
.reviews-heading{
    letter-spacing: 1px;
    margin: 30px 0px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.reviews-heading h1{
    font-size: 35.2px;
    font-weight: 500;
    background-color: #202020;
    color:#ffffff;
    padding: 10px 20px;
}
.reviews-heading span{
    font-size: 20.8px;
    color:#252525;
    margin-bottom: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.reviews-box-container{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
    width:100%;
   
    
}
.reviews-box{
    width:500px;
    box-shadow: 10px 10px 5px 12px rgba(0,0,0,0.1);
    background-color: #ffffff;
    padding: 20px;
    margin: 15px;
    cursor: pointer;
    display: flex;
    
}
.profile-img{
    width:50px;
    height:50px;
    border-radius: 50%;
    overflow:hidden;
    margin-right:10px;
    
}
.profile-img img{
    width:100%;
    height:100%;
    object-fit: cover;
    object-position: center;

}
.profile{
    display:flex;
    align-items: center;

}
.name-user{
    display: flex;
    flex-direction: column;
}
.name-user strong{
    color: #333333;
    font-size:17.6px;
    letter-spacing: 0.5px;

}
.name-user span{
     color:#979797;
     font-size:12.8px ;
}
.text{
 color:#f9d71c;
 margin-left: 70px;

}
.box-top{

    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.client-comment p{
    font-size:14.4px;
    color:#4b4b4b;

}
.reviews-box:hover{
    transform: translateY(-10px);
    transition: all ease 0.3s;
}

@media(max-width:1060px){
    .reviews-box{
        width:45%;
        padding:10px;
    }
}
@media(max-width:790px){
    .reviews-box{
        width:100%;
    }
    .reviews-heading h1{
        font-size:22.4px;
        
    }
}
@media(max-width:340px){
    .box-top{
        flex-wrap: wrap;
        margin-bottom:10px;
    }
    .text{
        margin-top: 10px;
    }
}

  .fa {
    font-size: 25px;
  }
  
  .checked {
    color: orange;
  }
 
  #average{
    display: flex;
    flex-direction: column;
    width:70%;
    margin-top: 70px;
  }
  .side {
    float: left;
    width: 15%;
    margin-top: 10px;
  }
  
  .middle {
    float: left;
    width: 70%;
    margin-top: 10px;
  }
  .right {
    text-align: right;
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .bar-container {
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    color: white;
  }
  
  .bar-5 {
    width: 60%; 
    height: 18px; 
    background-color: 
    #2c2e2d;
}
  .bar-4 {
    width: 30%; 
    height: 18px; 
    background-color: #2c2e2d;
}

  .bar-3 {
    width: 10%; 
    height: 18px; 
    background-color: #2c2e2d;
}

  .bar-2 {
    width: 5%;
     height: 18px; 
     background-color: #282827;
    }

  .bar-1 {
    width: 2%; 
    height: 18px;
     background-color: #413f3f;}
  

  @media (max-width: 400px) {
    .side, .middle {
      width: 100%;
    }
    .right {
      display: none;
    }
  }
  .personalreview{
    margin-top: 70px;
  }
  .footer{
    background-color: #ccc;
  }
