@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;500;600;700&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    background: #f8f8f8;
}


.sub-nav{
    background-color: #ebebeb !important;
    margin: 0 ;
    padding: 0;
}

.sub-nav__brand{
    color: #434343 !important;
    font-size: 1.5rem !important;
    font-weight: 400;
}

.sub-nav__container{
    margin-left: 2rem;
}

.sub-nav__list{
    margin: 0;
    padding: 0;
    list-style: none;
}

.sub-nav__element{
    font-size: 1.2rem;
    /* margin-top: 0.25rem; */
    margin: 0.5rem;
    padding: 0;
}

.sub-nav__element a{
    padding: 0.5rem 0.5rem;
}

.sub-nav__element > a:hover,
.sub-nav__element > a:active{
    background-color: #dbdbdb;
    border-radius: 10px;
}

.title-section{
    margin-top: 1rem;
    color: #6e6e6e;
    text-align: center;
}

.title-section__title::after{
    font-size: 1.2rem;
    margin-left: 1rem;
    content: 'Everything you need!';
}

.main-stats__container{
    margin-top: 2rem;
}

.stat-article{
    background: #fdfdfd;
    box-shadow: 2px 2px 20px 5px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    padding: 1rem;
    margin-top: 1rem;
}

.svg-container{
    display: flex;
    align-items: center;
    justify-content: center;
    /* display: block; */
}

.svg-container > svg{
    width: 100%;
    height: 70%;
    color: #a9a9a9;
}

.numbers-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
}

.numbers-container > h3{
    font-size: 1.7rem;
}

.employee-table-section{
    margin-top: 2rem;
    color: #6e6e6e;
    text-align: center;
}

.table-container{
    background: #fdfdfd;
    padding: 1rem;
    box-shadow: 2px 2px 20px 5px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}


.employee_voice-note1,
.employee_voice-note2{
    /* width: 40%; */
    /* margin: auto;
    display: flex; */
    display: inline-block;
    justify-content: space-around;
    align-items: center;
    padding: 0.3rem 0.5rem;
    border: 1px solid #7f7f7f;
    border-radius: 20px;
    background-color: #ebebeb;
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.1);
}

.employee_voice-note1 > svg,
.employee_voice-note2 > svg{
    margin-bottom: 2px;
    margin-right: 5px;
}

.employee_voice-note1:active,
.employee_voice-note2:hover,
.employee_voice-note2:active,
.employee_voice-note1:hover{
background: #dbdbdb;
}

.voice-col{
    text-align: center;
    margin: auto;
}

.voice-mail-th{
    text-align: center;
}


.employee-table {
    border-top: 1px solid #a9a9a9;
    border-bottom: 1px solid #a9a9a9;
    border-collapse: collapse;
    text-align: left; 
    border-spacing: 2px;
}

.employee-table th, 
.employee-table td{
   background-color: #ffffff;
   padding: 0.6rem;
   
}

.employee-table th{
    color: #6e6e6e;
    font-weight: 600;
    font-size: 1.2rem;
    background-color: #f8f8f8;
}