@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;500;600;700&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    background: #f8f8f8;
}


.sub-nav{
    background-color: #ebebeb !important;
    margin: 0 ;
    padding: 0;
}

.sub-nav__brand{
    color: #434343 !important;
    font-size: 1.5rem !important;
    font-weight: 400;
}

.sub-nav__container{
    margin-left: 2rem;
}

.sub-nav__list{
    margin: 0;
    padding: 0;
    list-style: none;
}

.sub-nav__element{
    font-size: 1.2rem;
    /* margin-top: 0.25rem; */
    margin: 0.5rem;
    padding: 0;
}

.sub-nav__element a{
    padding: 0.5rem 0.5rem;
}

.sub-nav__element > a:hover,
.sub-nav__element > a:active{
    background-color: #dbdbdb;
    border-radius: 10px;
}

.title-section{
    margin-top: 1rem;
    color: #6e6e6e;
    text-align: center;
}
